textarea {
    font-size: 18px;
    width: 80%;
    min-height: 100px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.instruction {
    display: flex;
    flex-direction: row;
}
.delete-button {
    width: 33px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(197, 48, 48);
}