#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(243, 236, 212);
    border-left: solid black 2px;
}
#userlabel {
    text-align: center;
    width: 70%;
    height: 50px;
}
#save-button {
    margin: 30px auto 0px auto;
    height: 50px;
    width: 50px;
    color: darkgreen;
}
li {
    font-size: 18px;
}
#add-new-recipe-button {
    font-size: 18px;
    margin: 20px auto 0px auto;
    height: 40px;
    width: 120px;
}
#flex-row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recipe-button {
    font-size: 23px;
    height: 32px;
    background: none;
    border: none;
}
#sign-out-button {
    height: 30px;
    margin-left: 10px;
}